.NotFound_not-found-container__AUVtC {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;
  color: #343a40;
  text-align: center;
  padding: 0 20px;
}
.NotFound_not-found-text__Dg4Qf {
  font-size: 4rem;
  font-weight: 700;
}
