/* DetailedCard.css */

.detailed-card {
  background-color: #ffffff; /* Фон для детализированного покемона */
  padding: 20px; /* Отступы внутри компонента */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень для компонента */
  overflow-y: auto; /* Прокрутка для длинного содержимого */
  max-height: calc(100vh - 40px); /* Максимальная высота с учетом отступов */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease; /* Переход для плавного появления/скрытия */
  display: flex; /* Используем Flexbox */
  flex-direction: column; /* Вертикальное направление элементов */
  align-items: center; /* Центрируем по горизонтали */
  justify-content: center; /* Центрируем по вертикали */
  gap: 16px; /* Расстояние между элементами */
}

.detailed-card h2 {
  margin: 0;
  font-size: 28px; /* Размер шрифта заголовка */
  color: #333333; /* Цвет текста заголовка */
}

.pokemon-image {
  max-width: 250px; /* Максимальная ширина изображения */
  height: auto;
  display: block;
  margin: 10px 0;
}

.detailed-card p {
  margin: 0;
  font-size: 18px; /* Размер шрифта описания */
  color: #666666; /* Цвет текста описания */
  text-align: center; /* Центрируем текст описания */
}

.close-button {
  background: #ff0000; /* Цвет фона кнопки */
  color: #ffffff; /* Цвет текста кнопки */
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px; /* Отступ сверху */
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background: #cc0000; /* Цвет кнопки при наведении */
}

.error-message {
  color: #ff0000; /* Цвет сообщения об ошибке */
  font-weight: bold;
  text-align: center; /* Центрируем текст сообщения об ошибке */
  margin: 0 0 10px;
}
