.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Расстояние между карточками */
  padding: 10px;
}

.no-results {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.results.light {
  background-color: white;
  color: black;
}

.results.dark {
  background-color: black;
  color: white;
}

/* Стили для карточек в списке */
.pokemon-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем отступы */
  display: flex; /* Используем Flexbox */
  flex-wrap: wrap; /* Размещаем элементы по строкам */
  gap: 10px; /* Расстояние между карточками */
}

.pokemon-list-item {
  margin-bottom: 0; /* Убираем отступ между элементами списка */
  flex: 1 1 200px; /* Карточки занимают пространство от 200px и больше по необходимости */
}
