/* Основной контейнер приложения */
.app {
  display: flex; /* Flexbox для основного макета */
  height: 100vh; /* Высота на весь экран */
  width: 100vw;
}

/* Левая часть макета */
.app-left {
  flex: 1; /* Занимает все доступное пространство */
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Примерный фон для app-left */
}

/* Верхняя часть левой части */
.app-top {
  padding: 16px;
}

/* Нижняя часть левой части */
.app-bottom {
  flex: 1; /* Занимает все доступное пространство */
  overflow-y: auto; /* Прокрутка для длинного списка результатов */
  padding: 16px;
}

/* Правая часть макета, где будет отображаться Outlet */
.app-right {
  flex: 0 0 auto; /* Не растягивается и не сжимается, занимает столько, сколько нужно */
  background-color: #ffffff; /* Примерный фон для app-right */
  border-left: 1px solid #ddd; /* Разделительная линия между левым и правым блоком */
  padding: 0;
  box-sizing: border-box; /* Учитываем паддинги и границы в ширине */
  overflow-y: auto; /* Прокрутка для длинного содержимого */
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease; /* Плавное появление/скрытие */
  max-width: 20vw;
}

.app-bottom.empty {
  background-color: transparent;
}

.loading {
  font-size: 18px;
  color: #666;
  font-style: italic;
  margin: 20px;
}

.error-message {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: #f4f4f4;
}
