.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}
body[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
}

body[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #fff;
}

.main-component {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.app-top {
  padding: 16px;
}

.app-bottom {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.app-right {
  flex: 0 0 auto;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  max-width: 20vw;
}

.app-bottom.empty {
  background-color: transparent;
}

.loading {
  font-size: 18px;
  color: #666;
  font-style: italic;
  margin: 20px;
}

.error-message {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: #f4f4f4;
}
